/* Internal CSS */


/* Tag selector */
body {
  background-color: beige;
}

h1, h2, h3 {
  color: green;
  /* background-color: black; */
  text-shadow: 2px 10px 5px gray;
  /* transform: rotate(5deg); */
  text-align: center;
}


p {
  font-size: 14px;
  color: rgb(31, 167, 31);
  text-transform: uppercase;
  /* border: 2px solid rgb(107, 141, 52); */
}

/* id selector */
#unique {
  color: chocolate;
}

/* class selector */
.center {
  text-align: center;
}

.red {
  color: rgb(218, 88, 88);
}

.bg-color {
  background-color: lightgray;
}

.green-bg-color {
  text-align: center;
  color: grey;
  background-color: lightgreen;
}